@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Doto:wght@100..900&family=Lavishly+Yours&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil+One&family=Sixtyfour&family=Sora:wght@100..800&family=Stack+Sans+Headline:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --bg-gradient: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1418%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1419%26quot%3b)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsG1422' transform='translate(0%2c 0)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1422' transform='translate(640%2c 0)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1422' transform='translate(1280%2c 0)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1418'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1419'%3e%3cstop stop-color='rgba(29%2c 151%2c 108%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(147%2c 249%2c 185%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cg id='SvgjsG1420'%3e%3cpath d='M4.1 1.54l10.36 10.36-2.56 2.56L1.54 4.1z'%3e%3c/path%3e%3cpath d='M11.9 1.54l2.56 2.56-10.36 10.36L1.54 11.9z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1421'%3e%3cpath d='M2.81 2.97a7.22 7.22 0 1 0 10.22 10.22 7.22 7.22 0 1 0-10.22-10.22'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1422'%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(0%2c 0)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(0%2c 64)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(0%2c 128)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(0%2c 192)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(0%2c 256)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(0%2c 320)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(0%2c 384)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(0%2c 448)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(0%2c 512)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(64%2c 0)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(64%2c 64)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(64%2c 128)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(64%2c 192)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(64%2c 256)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(64%2c 320)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(64%2c 384)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(64%2c 448)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(64%2c 512)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(128%2c 0)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(128%2c 64)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(128%2c 128)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(128%2c 192)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(128%2c 256)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(128%2c 320)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(128%2c 384)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(128%2c 448)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(128%2c 512)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(192%2c 0)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(192%2c 64)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(192%2c 128)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(192%2c 192)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(192%2c 256)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(192%2c 320)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(192%2c 384)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(192%2c 448)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(192%2c 512)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(256%2c 0)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(256%2c 64)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(256%2c 128)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(256%2c 192)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(256%2c 256)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(256%2c 320)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(256%2c 384)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(256%2c 448)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(256%2c 512)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(320%2c 0)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(320%2c 64)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(320%2c 128)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(320%2c 192)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(320%2c 256)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(320%2c 320)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(320%2c 384)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(320%2c 448)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(320%2c 512)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(384%2c 0)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(384%2c 64)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(384%2c 128)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(384%2c 192)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(384%2c 256)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(384%2c 320)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(384%2c 384)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(384%2c 448)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(384%2c 512)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(448%2c 0)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(448%2c 64)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(448%2c 128)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(448%2c 192)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(448%2c 256)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(448%2c 320)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(448%2c 384)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(448%2c 448)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(448%2c 512)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(512%2c 0)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(512%2c 64)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(512%2c 128)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(512%2c 192)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(512%2c 256)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(512%2c 320)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(512%2c 384)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(512%2c 448)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(512%2c 512)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(576%2c 0)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(576%2c 64)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(576%2c 128)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(576%2c 192)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(576%2c 256)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(576%2c 320)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(576%2c 384)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1420' transform='translate(576%2c 448)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1421' transform='translate(576%2c 512)' fill='rgba(243%2c 239%2c 245%2c 0.71)'%3e%3c/use%3e%3c/g%3e%3c/defs%3e%3c/svg%3e");

  --primary-100:#00b4d8;
  --primary-200:#0077b6;
  --primary-300:#03045e;
  --secondary-100:#454955;
  --secondary-200:#a5be00;
  --black:#0d0a0b;
  --white:#f3eff5;

  --length-50p:50%;
  --length-100p:100%;
  --length-90p:90%;
  --length-500:500px;
  --length-200:200px;
  --length-100:100px;
  --length-150:150px;
  --length-50:50px;

  --fs-small:1em;
  --fs-medium:1.5em;
  --fs-large:2em;
  --fs-xlarge:5em;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* outline: 1px solid blue; */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no-click {
  pointer-events: none;
}

body {
  min-height: 100vh;
  background-color: rgb(115, 255, 0);
  /* background-image: var(--bg-gradient); */
  /* mask-image: linear-gradient( transparent, var(--primary-100), transparent); */
  /* background: linear-gradient(to top, #93f9b9, #1d976c); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Stack Sans Headline", sans-serif;
}

main {
  width: var(--length-50p);
}

section {
  width: var(--length-90p);
  padding: 20px;
  margin: 10px;
}


/* choice box and coin box styles */
#choiceContainer,
#coinBox {
  flex-direction: row;
  margin: 30px;
}
#choice h2,
#toss h2 {
  font-size: var(--fs-large);
  font-weight: 600;
}

.choiceBox,
.coin {
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  & img {
    height: var(--length-200);
    width: var(--length-200);
  }

  & p {
    text-align: center;
    font-size: var(--fs-small);
  }
}

#tossResult {
  margin-inline: 5px;
  height: 70px;
  width: 200px;
  border-radius: 50px;
  background: var(--secondary-200);
  border: none;
  font-size: var(--fs-medium);
  color: var(--white);
}

#tossResultText {
  font-size: var(--fs-medium);
  text-align: center;
  margin: 5px;
}

#scoreBox {
  padding: 10px;
  flex-direction: row;
  width: var(--length-100p);
  justify-content: space-between;
}

.player {
  flex-direction: row;
  & img {
    margin: 10px;
    height: var(--length-100);
    width: var(--length-100);
    border-radius: 50%;
  }
}

#actualGame {
  padding: 20px;
  margin: 10px 10px 20px 10px ;
  background: var(--primary-300);
  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--black);
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  > div {
    height: var(--length-100);
    width: var(--length-100);
    border-radius: 50%;
    background: var(--primary-200);
    font-size: var(--fs-medium);
    color: var(--white);
  }
}

#compareBox{
  width: 300px;
  padding: 20px;
  background: var(--secondary-200);
  border-radius: 20px;
  margin-top: 30px;
  
}

#compareBox > div {
  flex-direction: row;
  gap: 10px;
  > div {
    height: var(--length-100);
    width: var(--length-100);
    border-radius: 50%;
    background: var(--primary-200);
    font-size: var(--fs-medium);
    color: var(--white);
  }
}

#buttonBox {
  flex-direction: row;
  width: var(--length-90p);
  padding: 10px;
  & button {
    margin-inline: 5px;
    height: 70px;
    width: 200px;
    border-radius: 50px;
    background: var(--secondary-200);
    border: none;
    font-size: var(--fs-medium);
    color: var(--white);

  }
}

.gameResult {
  position: relative;
  > * {
  filter: blur(10px);
  }
}

#result {
  height: var(--length-500);
  width: var(--length-100p);
  background: var(--secondary-200);
  border-radius: 25px;
  box-shadow: 5px 5px 10px var(--black);
  position: absolute;
  display: none;
  filter: none;
  z-index: 9999;
  & h2 {
    font-size: var(--fs-xlarge);
  }
}

@media (max-width: 500px) {
  :root {
      --length-50p:100%;
      --length-90p:90%;
      --length-500:400px;
      --length-200:150px;
      --length-150:100px;
      --length-100:80px;
      --length-50:50px;
  
      --fs-small:1em;
      --fs-medium:1.2em;
      /* --fs-large:1.5em; */
      --fs-xlarge:3em;
  }
}
